body{
}
.bg-nav{
    background: #85144b;

}
.h-icon{
    height: 100px;
    
}

.navbar-nav .nav-item {
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-item:hover {
  transform: scale(1.1);
  
  color: #ffffff; 
 
 
}
.hight{
  height: 25vh;
}
.h-nav{
  height: 20vh;
}
.h-nav2{
  height: 10vh;
}

            
.radius {
  border: 2px solid #b8b6b6;    
  border-radius: 50px;        
}
.bg-color{
background:#2a1a5a;


}
.color-icon{
  color: #ffffff;
}
.logo{
   border-radius: 100%;

}
.bg-Home{
  background-image: url(/public/photo/flouka-slide1.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
}




.images{
  
  width: 300px;   
  height: 400px;  
  border-radius: 50px;


}

.images:hover{
   transform: scale(1.02); 
}
 .image{
   width: 300px; 
   border-radius:20px;
   background-color: #b8afaf;
   color: #353434;
 }
  

 body.light {
  background-color:  #fcfcfc;
  color: #000000;
}

body.dark {
  background-color: #121212;
  color: #ffffff;

}


.bg-color.light {
  background-color: #f8f9fa; /* فاتح */
}

.bg-color.dark {
  background-color: #1a1d20; /* داكن */
}


.green{
  
  background: linear-gradient(140.14deg, #097635 15.05%, #20f65d 114.99%)
      padding-box,
    linear-gradient(142.51deg, #126f0b 8.65%, #1bc60f 88.82%) border-box;
  border-radius: 7px;
  border: 2px solid transparent;

  text-shadow: 1px 1px 1px #00000040;
  box-shadow: 8px 8px 20px 0px #45090059;

  padding: 10px 40px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.green:hover {
  box-shadow: none;
  opacity: 80%;
}

.red{


 background: #d1d1d1;
background: linear-gradient(90deg, rgba(209, 209, 209, 1) 0%, rgba(209, 205, 132, 1) 0%, rgba(252, 127, 69, 1) 100%);
  border-radius: 7px;
  border: 2px solid transparent;

  text-shadow: 1px 1px 1px #00000040;
  box-shadow: 8px 8px 20px 0px #45090059;

  padding: 10px 40px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.red:hover {
  box-shadow: none;
  opacity: 80%;
}
.image-container  {
  position:relative;
}

.image-overlay {
  position:absolute;
  top: 0;
 
  width: 100%;
  height: 100%;
  background-color:#ff4b9ffb ;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1.5s;
  z-index: 2;
 margin: 48px;
  
}
.image-container:hover .image-overlay {
  opacity: 50%;
}
.bg-bink{
  background: #ce078c;
}
@media (max-width: 768px) {
  .h-nav, .h-nav2 {
    padding: 10px !important;
  }
  .navbar-nav .nav-link {
    padding: 8px !important;
    font-size: 14px;
  }
  .color-icon {
    font-size: 18px !important;
    padding: 5px !important;
    margin: 3px !important;
  }
}

@media (max-width: 767px) {
  .bg-bink {
    background-color: transparent !important; /* يخفي اللون فقط */
  }
}



